[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
isort = "==4.3.4"
black = "==18.6b4"
"flake8" = "*"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
pytest-xdist = "*"
pytest-timeout = "*"

[packages]
django = "*"
"psycopg2-binary" = "*"
itsdangerous = "*"
facebook-sdk = "*"
sentry-sdk = "*"
graphene-django = "*"
nplusone = "*"
honcho = "*"
gunicorn = "*"
django-heroku = "*"
factory-boy = "*"
"flake8" = "*"
lxml = "*"
tabletop-server = {editable = true, path = "."}
django-enumfields = "*"
pillow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
